.overflow{
  overflow: hidden;
}
body{
  font-family: 'PT Sans', sans-serif !important;
}
/* heading lines */
.heading-line{
  background: #9B50DB none repeat scroll 0 0; 
  height: 2px;
  margin: 0 auto 5px;
  width: 62px;
}
.heading-line-dot{
  height: 5px;
  width: 90px;
  background: #cbbded;
  margin: 20px auto;
  position: relative;
  border-radius: 30px;
}
.heading-line-dot::before{
  content: '';
  position: absolute;
  left: 0;
  top: -2.7px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #0C5ADB;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: MOVE-BG;
  animation-name: MOVE-BG;
}

@keyframes MOVE-BG {
  from {
    transform: translateX(0);
  }
  to { 
    transform: translateX(800%);
  }
}
/* Header */
.header-bg-color{
  background-color: #00247E;
  border-bottom: 3px solid white;
  box-shadow: 5px 10px 15px #888888 !important;
 } 

/* Signup and Signin form */

.red-gradient{
    background-color: #00247E;
    width:55vh !important;
    line-height: 8vh;
  border:none;
  letter-spacing: 2px;
  font-size: 23px;
}
.register-card{
box-shadow: 8px 8px 18px 2px#adb3c9 !important;
border-radius:15px !important;
border: 3px solid #00247E !important;
}
.signup-signin-heading{
  color:#00247E;
  font-size: 45px !important;
  font-weight: bold;
  font-family: 'Libre Baskerville', serif !important;
}

/*Login*/

.login-card{
  box-shadow: 8px 8px 18px 2px#adb3c9 !important;
border-radius:15px !important;
border: 3px solid #00247E !important;
}
/* OTP */
.otp-card{
  background: url("../../client/src/Images/blue-form.jpg");
  background-repeat: no-repeat;
  background-size: 100% 75%;
  box-shadow: 8px 8px 18px 2px#adb3c9 !important;
  border-radius:15px !important;
  border: 5px solid #00247E !important;
}
.otp-Icon{
  height:75px ;
  width:75px;
  line-height: 75px;
  border-radius: 33% 66% 70% 30%/49% 62% 38% 51%;
  display:inline-block;
  text-align: center;
  background-color: #E3E8FB;
  color:blue;
  font-size: 35px;
  margin-left: 5%;
}
.blue-gradient-for-otp{
  background: #00247E !important;
  width:50vh !important;
  /* border-radius: 1vh !important; */
  line-height: 8vh;
  border:none;
  letter-spacing: 2px;
  font-size: 25px ;
  /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}
.blue-gradient-for-resend{
  background:linear-gradient(to right, #fcfcfc 0%, #f8f8f8 100%)!important;
  width:40vh !important;
  line-height: 6vh;
  border: 1px solid #00247E !important;
  letter-spacing: 2px;
 font-weight: bold !important;
 font-size: 23px ;
 /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}


/* Example Image */
/* .bg {
  background-image:linear-gradient(to bottom, rgba(66, 66, 66, 0.52), rgba(2, 2, 2, 0.73)),
  url('./Images/picture1.jpg');
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius:115vh 115vh 0px 0px;
  box-shadow: 5px 20px 18px black;
} */

/* About Section */
.outer {
background: linear-gradient(to right, #0c2bb3 0%, #4772cf 100%); 
width:450px; 
height:450px; 
border-radius: 50%;
z-index:-1;
position: absolute;
left: 0px;
top: 60px;
}
.inner {
background-color:white;
top: 20%; left:20%; 
width:60%; 
height:60%; 
position: relative;
border-radius: 50%;
}
.about-image{
height:600px;
width:500px;
position:relative;
left:150px;
}
.About-Icons{
  height:70px ;
  width:70px;
  line-height: 70px;
  border-radius: 33% 66% 70% 30%/49% 62% 38% 51%;
  display:inline-block;
  text-align: center;
  background-color: #E3E8FB;
  color:blue;
  font-size: 30px;
  /* margin-left: 20%; */
  /* margin-top:25%; */
}

/* Main section */
.main-image{
  background: url("../src/Images/blue1.png");
  background-repeat: no-repeat;
  background-size: 100% 95%; 
  height:670px;
}
.management{
  width:100%;
  height:auto;
  max-width:270px;
  position : absolute;
  /* left: 10px; */
}
.manage-text{
  height:auto;
  width:100%;
  max-width:160px;
  position:absolute;
  left:235px;
  top:20px;  
}
.visualization{
  position : absolute;
  left:420px;
  max-width:270px;
}
.Visualize-text{
  height:auto;
  width:100%;
  max-width:160px;
  position:absolute;
  top:50px;
  left:675px;
}
.reporting{
  height:auto;
  max-width:250px;
  width:100%;
  position : absolute;
  left:200px;
  top:150px;
}
.report-text{
  height:auto;
  width:100%;
  max-width:160px;
  position:absolute;
  left:450px;
  top:230px;  
}
/* Our Features */
.feature-card{
  border-bottom-left-radius: 25px !important;
  border-top-right-radius: 25px !important;
  box-shadow: 2px 2px 20px #7d96d4 ;
}

.feature-card:hover{
  background-color: #0C5ADB;
  color:white !important;
  transform:scale(1);
  border-bottom-left-radius: 25px !important;
  border-top-right-radius: 25px !important;
}

.feature-Icons{
  height:75px ;
  width:75px;
  line-height: 75px;
  border-radius: 33% 66% 70% 30%/49% 62% 38% 51%;
  display:inline-block;
  text-align: center;
  background-color: #E3E8FB;
  color:blue;
  font-size: 35px;
  margin-left: 35%;
}

.font-color{
  color:#00247E;
}


/*Report*/
.report-card{
  box-shadow: 8px 8px 18px 2px#adb3c9 !important;
  border-radius:15px !important;
  border: 3px solid #00247E !important;
  }
.blue-gradient-for-report{
    background-color: #00247E;
    width:55vh !important;
    line-height: 8vh;
    border:none;
    letter-spacing: 2px;
    font-size: 23px;
    border-radius: 10px;
}

/*View*/
.cards-col{
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.cards-font{
font-size:15px !important; 
}

.view-cards{
  box-shadow: 5px 5px 10px 2px#adb3c9 !important;
/* border-radius:15px !important; */
border: 2px solid #00247E !important;
}
/*footer*/

.footer{
  background: linear-gradient(to right, #00247E 0%, #00247E 100%); 
 }
 
.col_white_amrc { color:#FFF;}
footer { width:100%; background-color:#263238; min-height:250px; padding:10px 0px 25px 0px ;}
.pt2 { padding-top:40px ; margin-bottom:20px ;}
footer p { font-size:13px; color:#CCC; padding-bottom:0px; margin-bottom:8px;}
.mb10 { padding-bottom:15px ;}
.footer_ul_amrc { margin:0px ; list-style-type:none ; font-size:14px; padding:0px 0px 10px 0px ; }
.footer_ul_amrc li {padding:0px 0px 5px 0px;}
.footer_ul_amrc li a{ color:#CCC;}
.footer_ul_amrc li a:hover{ color:#fff; text-decoration:none;}
.fleft { float:left;}
.padding-right { padding-right:10px; }

.footer_ul2_amrc {margin:0px; list-style-type:none; padding:0px;}
.footer_ul2_amrc li p { display:table; }
.footer_ul2_amrc li a:hover { text-decoration:none;}
.footer_ul2_amrc li i { margin-top:5px;}

.bottom_border { border-bottom:1px solid #323f45; padding-bottom:20px;}
.foote_bottom_ul_amrc {
	list-style-type:none;
	padding:0px;
	display:table;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
.foote_bottom_ul_amrc li { display:inline;}
.foote_bottom_ul_amrc li a { color:#999; margin:0 12px;}
.social_footer_ul { display:table; margin:15px auto 0 auto; list-style-type:none;  }
.social_footer_ul li { padding-left:20px; padding-top:10px; float:left; }
.social_footer_ul li a { color:#CCC; border:1px solid #CCC; padding:8px;border-radius:50%;}
.social_footer_ul li i {  width:20px; height:20px; text-align:center;}


/* DASHBOARD */

.sidebar-fixed {
  left: 0;
  top: 0;
  height: 100vh;
  width: 270px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  z-index: 1050;
  background-color: #fff;
  padding: 1.5rem;
  padding-top: 0;
}

#content{
  margin-left: 270px;
}     

.sidebar-fixed .logo-wrapper img{
  width: 100%;
  /* padding: 2.5rem; */
}

.cascading-admin-card .admin-up {
  margin-left: 4%;
  margin-right: 4%;
  margin-top: -20px;
}

.cascading-admin-card .admin-up .fa {
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.2), 0 2px 13px 0 rgba(0, 0, 0, 0.19);
}

.cascading-admin-card .admin-up .fa {
  padding: 1.7rem;
  font-size: 2rem;
  color: #fff;
  text-align: left;
  margin-right: 1rem;
  border-radius: 3px;
}

.cascading-admin-card .admin-up .data {
  float: right;
  margin-top: 2rem;
  text-align: right;
}
.admin-up .data p {
  color: #999999;
  font-size: 12px;
}
.classic-admin-card .card-body {
  color: #fff;
  margin-bottom: 0;
  padding: 0.9rem;
}
.classic-admin-card .card-body p {
  font-size: 13px;
  opacity: 0.7;
  margin-bottom: 0;
}
.classic-admin-card .card-body h4 {
  margin-top: 10px;
}

.breadcrumb{
  margin: 0;
}

.activeClass .list-group-item {
  z-index: 5;
  color: #fff;
  border-color: #007bff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 5px !important;
  background-color: #007bff !important;
}
.dashboard-Navbar{
  display:none !important;
}


/* Profile */
.profile-Icon{
  color:blue;
}
@media (max-width: 1199.98px) {
  .sidebar-fixed {
    display: none;
  }
  .dashboard-Navbar{
    display:block !important;
  }
  .flexible-content {
    padding-left: 0;
  }
  .flexible-navbar {
    padding-left: 10px;
  }

  #content{
    margin-left: 0px;
  }

  .page-footer{
    margin-left: 0px;
  }
  
  .card.cascading-admin-card {
    margin-top: 2.5rem;
  } 
}

@media (max-width: 576px) { 
  .card.cascading-admin-card {
    margin-top: 2.5rem;
  }

  #breadcrumb{
    flex-direction: column;
  }
}

/* Responsiveness of Landing Page */
@media (max-width: 1290px){
  .management{
    width:100%;
    height:auto;
    max-width:200px;
    position:absolute;
    left:-20px;
  }
  .manage-text{
    height:auto;
    width:100%;
    max-width:125px;
    position:absolute;
    left:160px;
    top:20px;
  }
  .visualization{
    width:100%;
    height:auto;
    max-width:200px;
    position : absolute;
    left:320px;
  }
  .Visualize-text{
    height:auto;
    width:100%;
    max-width:125px;
    position:absolute;
    top:50px;
    left:495px;
  }
  .reporting{
    height:auto;
    max-width:200px;
    width:100%;
    position : absolute;
    left:150px;
    top:180px;
  }
  
  .report-text{
    height:auto;
    width:100%;
    max-width:125px;
    position:absolute;
    left:340px;
    top:230px;  
  }
  .Landing-size-4-col{
    margin-top: 50px !important;
  }
}
@media (max-width:768px ) and (min-width:375px) {
   .Landing-size-8-col{ 
    display:none;
  }
  .Landing-size-4-col{
    /* margin-top: 100px !important; */
    margin-left: 30px !important;
    margin-right: 30px !important;
  }
}

@media (max-width:375px ) and (min-width:320px) {
  .Landing-size-4-col{
    margin-top: 10px !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
  }
}

@media (max-width:425px ){
  .Landing-size-8-col{ 
   display:none;
 }
 
}
/* About Section */

@media (max-width: 672px){
  .about-us-image{
    display:none;
  }
}
@media (max-width: 1085px) and (min-width:820px) {
  .about-us-image{
    margin-left:15%;
  }
}

/* Cards Responsiveness */

@media (max-width:425px){
  .register-card{
    box-shadow: none !important;
    border-radius:none !important;
    border:none !important;
  }
  .login-card{
    box-shadow: none !important;
    border-radius:none !important;
    border:none !important;
  }
  .otp-card{
    background: none;
    box-shadow: none !important;
    border-radius:15px !important;
    border: none !important;
  }
  .report-card{
    box-shadow: none !important;
    border-radius:none !important;
    border:none !important;
  }
  .otp-card h3{
    padding-top: 2vh !important;
  }
}

/* @media (max-width: 320px){
  .report-card{
    padding-left: 20px !important;
    padding-right:20px !important;
    border: 2px solid black !important;
  }
} */
/* Dashboard Navbar */

@media (max-width:425px) {
  .dashboard-options{
    padding: 0 !important;
  }
}

@media (max-width:1199.98px) and (min-width:424px) {
  .dashboard-options{
    padding: 1.5rem;
  }
}

/* Home  Navbar */

@media (max-width:425px) {
  .home-options{
    padding: 0 !important;
  }
}

@media (max-width:2560px) and (min-width:424px) {
  .home-options{
    padding: 1.5rem;
  }
}
/* Successsfull page responsiveness */

@media (max-width:425px){
  .successfull-page-text{
    font-size: 25px !important;
    margin-right: 10% !important;
    margin-left: 10% !important;
  }
}

/* Profile responsiveness */
@media (max-width: 576px) { 
  .card.cascading-admin-card {
    margin-top: 2.5rem;
  }

  #breadcrumb{
    flex-direction: column;
  }
  .responsive-profile{
    font-size: 18px !important;
  }
}